@import "bootstrap-sprockets";
@import "bootstrap";

/* main stuff */
html {
  height: 100%;
}

body {
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* nav */
.navbar, .alert{
  margin-bottom: 0px;
}

.navbar-brand{
  a{
    color: #215688;
  }
}

.navbar-default{
  background-color: #fff;
  height: 54px;
  .navbar-nav li a {
    color: #125688;
  }
}

.navbar-container{
  width: 70%;
  margin: 0 auto;
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}
.panel {
  border-radius: 8px;
}
.panel-heading{
  h2 {
    text-align: center;
  }
}

.registration-bg {
  padding-top: 4em;
  height: 100vh;
  margin-top: -20px;
  background-image: image-url('bg.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.error_notification{
  color: #c00;
  margin-left: 17px;
}

span.error{
  display: block;
  color: #c00;
  margin: 5px;
}


.input {
  margin-bottom: 10px;
}

input[type="file"] {
  margin: auto;
}

.btn-lg {
  padding: 6px 16px;
}

.snaps-wrapper{
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.snap {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
  .snap-head {
    flex-direction: row;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    color: #125688;
    font-size: 15px;
    line-height: 18px;
    .user-name, .time-ago {
      display: inline;
    }
    .user-name{
      font-weight: 500;
    }
    .time-ago{
      float: right;
      color: #a5a7aa;
    }
  }
  .image {
    border-bottom: 1px solid #eeefef;
    border-top: 1px solid #eeefef;
  }
}

.snap-bottom {
  .user-name, .comment-content {
    display: inline;
  }
  .caption {
    margin-bottom: 7px;
  }
  .user-name {
    font-weight: 500;
    margin-right: 0.3em;
    color: #125688;
    font-size: 15px;
  }
  .user-name, .caption-content {
    display: inline;
  }
  #comment {
    margin-top: 7px;
    .user-name {
      font-weight: 500;
      margin-right: 0.3em;
    }
    .delete-comment {
      float: right;
      color: #515151;
    }
  }
  margin-bottom: 7px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 18px;
}

.comment_content {
  font-size: 15px;
  line-height: 18px;
  border: medium none;
  width: 100%;
  color: #4B4F54;
}
.comment-like-form {
  padding-top: 24px;
  margin-top: 13px;
  margin-left: 24px;
  margin-right: 24px;
  min-height: 68px;
  align-items: center;
  border-top: 1px solid #EEEFEF;
  flex-direction: row;
  justify-content: center;
}
.form-wrapper{
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

#image-preview, #snap-image{
  margin: 0px auto;
}

#snap-image{
  padding: 1em;
}